
.item img {
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 50%;
    width: 200px;
    margin-right: 16px;
    animation: FadeIn 2s;
}

.display-inline {
    display: inline;
}

.Container {
    display: flex;
    /* flex-wrap: wrap; */
    box-shadow: 0 0px 10px 5px;
    padding: 10px;
}

.info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.Labels img {
    width: 250px;
}

.Aside .Header h2 {
    border-bottom: 2px solid black;
    margin-left: 16px;
}

@media all and (max-width: 940px) {
    .Container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .Labels img {
        margin-top: 10px;
    }

    .Aside .Header h2 {
        margin-left: 0px;
        text-align: center;
    }
}

.price {
    font-style: italic;
    color: orange;
}

.BackButton {
    font-size: 16px;
    border-radius: 15px;
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
    border: 2px solid rgba(0, 0, 255, 0.1);
    transition: 0.5s;
    margin-top: 16px;
}

.BackButton:hover {
    background-color: rgba(0, 0, 255, 0.9);
}

.center {
    display: flex;
    justify-content: center;
}